

html, body {
    box-sizing: border-box;
    overflow-x: hidden;
}

div.header {
    position: relative;
    width: 100vw;
    height: 90vh;
}
.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -3;
}
.bg-title {
    width: 60%;
    height: 70%;
    max-width: 60%;
    z-index: -1;
}
.fas {
    color: white;
    z-index: -2;
}

div .d-flex .flex-column .p-5 .fs-2 {
    font-family: Roboto, sans-serif;
}

#footer {
    background: #1f2172;
    overflow: hidden;
    color: white;
}
#map {
    background: #5eb5e0;

}

.key {
padding-left: 300px;
}

#mapid{
    height: 450px;
    width: 450px;
}

.logoGeekGarage {
    width: 45%;
    position: relative;
    left: 100px

}

.logoOnline {
    width: 20%;
    position: relative;
    top: 70px;
    left: 73px;

}
.textLogos {
    position: relative;
    top: 195px;
    left: 65px;

}