{%  extends './base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

    {% include './block/_adminNavbar.html.twig' %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ville</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for center in centers %}
            <tr>
                <td>{{ center.city }}</td>
                <td>{{ center.address }}</td>
                <td>
                    <a href="{{ path('admin_update', {id: center.id}) }}" class="btn btn-primary">Editer</a>
                    <a href="{{ path('admin_delete', {id: center.id}) }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}