<section id="footer" class="d-block mt-auto py-3">
   <div class="d-flex align-items-stretch">
        <div class="col-4 ms-2">
            <div class="col p-3 pt-5">
                <h6 class="text-center fs-5 p-2">Contactez-nous sur les réseaux sociaux</h6>
                <div class="d-flex justify-content-center">
                    <i class="fab fa-twitter fs-1 p-2"></i>
                    <i class="fab fa-facebook-f fs-1 p-2"></i>
                    <i class="fab fa-linkedin-in fs-1 p-2"></i>
                    <i class="fab fa-instagram fs-1 p-2"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="d-flex">
                <img class="logoGeekGarage" src="{{ asset('img/logo-geek-garage-blanc.gif') }}" alt="logo geek garage">
                <div class="textLogos">en association avec</div>
                <img class="logoOnline" src="{{ asset('img/logo-online.svg') }}" alt="logo geek garage">
            </div>
        </div>
    </div>
    <div class="text-center pt-5">Fait avec &hearts; par Gaëlle EL KADAOUI &copy ACS OnlineFormaPro - 2021</div>
</section>