{%  block map %}
<section class="d-flex" id="map">
    <div class="flex-column">
        <p class="fs-3 my-4 ps-2">Trouver le centre le plus proche</p>
    </div>
    <div class="flex-column">
        <div class="rounded m-4" id="mapid"></div>
    </div>
    <div class="key">
    </div>
</section>
{% endblock %}
