{% extends 'base.html.twig' %}



{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% include 'block/_navbar.html.twig' %}

    {% include 'block/_header.html.twig' %}

    {% include 'block/_map_home.html.twig' %}

    {% include 'block/_footer.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('script/map_home.js') }}"></script>
{% endblock %}